<h1>Client list!</h1>

#if ($clients)
<ol>
    #foreach ($client in $clients)
    <li>
    Name: $client.getName()
    Phone Number: $client.getPhoneNumber()
    Service: $client.getService()
    Date: $client.getDate()
    </li>

    #end
</ol>
#else
<p>No tasks!</p>
#end
