<h1>Client list!</h1>

#if ($clients)

#foreach ($client in $clients)

Id: $client.getId()
Name: $client.getName()
Phone Number: $client.getPhoneNumber()
Service: $client.getService()
Date: $client.getDate()
<br>


#end

#else
<p>No Clients!</p>
#end
