<h1>Welcome to the Salon Application</h1>

<!--<a href="/clients/new">Add a client</a>-->
<!--<a href="/clients">View all clients</a>-->

<a href="/stylists">View Stylist List</a>
<a href="/stylists/new">Add a New Stylist</a>




