<!DOCTYPE html>
<html>
<head>
    <title>NYWELE</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
    <link href="https://fonts.googleapis.com/css?family=Aclonica|Crimson+Text" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Gravitas+One|Lemon|Shrikhand|Spicy+Rice|Yeseva+One" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="container">
    #parse( $template )
</div>
</body>
</html>