#if ($stylist)
<h1>$stylist.getName() clients:</h1>

#foreach($client in $stylist.getClients())
$client.getId()
Name:  $client.getName()
Contacts: $client.getPhoneNumber()
Service: $client.getService()
Appointment Date: $client.getDate()
<br>
#end
<br>

#end


<a href="/stylists/$stylist.getId()/clients/new">Add a new client</a>
<a href="/stylists">All Stylists</a>
