<h1>Add a Stylist</h1>

<p>Add a stylist here:</p>

<form action="/stylists" method="post">
    <label for="name">Stylist name</label>
    <input id="name" name="name" type="text">

    <label for="phoneNumber">Stylist contacts</label>
    <input id="phoneNumber" name="phoneNumber" type="number">
    <button type="submit" class="btn btn-success">Add Stylist</button>
</form>