<h1>$stylist.getName()</h1>

<form action="/clients/$stylist.getClientId()/stylists/$stylist.getId()" method="post">
    <label for="name">Stylist name</label>
    <input id="name" name="name" type="text">

    <label for="phoneNumber">Stylist contacts</label>
    <input id="phoneNumber" name="phoneNumber" type="number">
    <button type="submit" class="btn btn-success">Edit Stylist</button>
</form>

<a href="/clients/$task.getId()">Return to $stylist.getName()</a>